@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding-top: 56px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.containerX {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.user-details .input-box {
    margin-bottom: 15px;
}

.user-details .input-box .details {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.user-details .input-box input[type="text"],
.user-details .input-box input[type="date"],
.user-details .input-box input[type="email"],
.user-details .input-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    outline: none;
    transition: border-color 0.3s;
}

.user-details .input-box input[type="text"]:focus,
.user-details .input-box input[type="date"]:focus,
.user-details .input-box input[type="email"]:focus,
.user-details .input-box input[type="password"]:focus {
    border-bottom-color: #8e44ad;
}

.button input[type="submit"] {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button input[type="submit"]:hover {
    background-color: #732d91;
}
