html, body {
    height: 100%;
    background-color: #f4f4f4; /* Light grey background */
}

.card {
    margin-top: -2rem; /* Adjust this value as needed */
    border: none;
    border-radius: 0.5rem;
}

.card-body {
    padding: 2rem;
}

.form-label {
    font-weight: 600;
}

.btn-danger {
    background-color: #e60000; /* Blood Bank theme red */
    border: none;
}

.btn-danger:hover {
    background-color: #cc0000; /* A darker shade for hover state */
}
