body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.hero-section {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* White text color */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: absolute;
    bottom: 0; /* Align content to the bottom */
    left: 50%; /* Center the content horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
    text-align: center;
    width: 100%; /* Ensure the content takes the full width */
    padding: 15em; /* Add some padding */
    z-index: 2;
}

.btn-hero {
    background-color: #e60000; /* Red background for the button */
    color: #ffffff; /* White text */
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-hero:hover {
    background-color: #cc0000; /* Darker red on hover */
    text-decoration: none; /* Remove underline on hover */
}

.recent-work {
    background-color: #f8f9fa; /* Light grey color */
    padding-top: 3rem;
    padding-bottom: 3rem;
}



.card {
    margin-top: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-title {
    color: #333333; /* Dark text for titles */
}

.card-text {
    color: #666666; /* Lighter text for card body */
}

/* This ensures the images fit nicely in the cards */
.card-img-top {
    width: 100%;
    height: auto;
}

/* Services Section Styles */
.services h2 {
    color: #333; 
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.card {
    box-shadow: 0 2px 4px rgba(0,0,0,.2); 
   
}

.card-img-top {
    width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensure the image covers the area */
}

.card-title {
    color: #333; /* Dark color for card titles */
    font-weight: bold;
}

.card-text {
    color: #555; /* Dark grey color for text */
}

/* Optional: Add some space at the top and bottom of the Services section */
.services {
    background-color: #fefefe; /* Even lighter grey color, almost white */
    padding-top: 2rem;
    padding-bottom: 3rem;
}



