<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BLOOD_DONATION_SYSTEM</display-name>
  <welcome-file-list>
 
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>campServlet</display-name>
    <servlet-name>campServlet</servlet-name>
    <servlet-class>servlets.campServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>campServlet</servlet-name>
    <url-pattern>/campServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampaignPage</display-name>
    <servlet-name>CampaignPage</servlet-name>
    <servlet-class>servlets.CampaignPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampaignPage</servlet-name>
    <url-pattern>/view-campaigns</url-pattern>
  </servlet-mapping>
  
</web-app>